body{
    margin: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.welcome-img {
    width: 800px;
    height: 600px;
    background-image: url(15238404142_535874589f_k.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}
h4{
    color: aliceblue;
    font-size: large;
    background: rgba(120, 209, 236, 0.802);
    box-shadow: 0 4px 4px 0 rgb(82, 81, 81), 0 2px 4px 0 rgb(80, 80, 80);
    padding: 20px;
    text-align: center;
    color: rgb(19, 18, 18);
    border-radius: 20px;
    border: 3px solid teal;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 4, 255);

}
.hello{
    position: fixed;
    height: auto;
    left: 0px;
    width: 45px;
}
h2{
    text-align: center;
    font-size: xx-large;
    text-size-adjust: 54;
    color: #ffffff86;
    
}
.navbar ul{
    list-style-type: none;
    background-color: hsla(0, 0%, 25%, 0.356);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: sticky;
    top: 20px;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    
}
.navbar a:hover{
    background-color: hsla(0, 0%, 10%, 0.425);
    
}
.navbar li{
    float: right;
    
}
i{
    font-size: larger;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}
footer{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:  190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #f18930;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}